<mat-toolbar color="primary-dark" >
    <mat-toolbar-row *ngIf="!isLoggedIn()">
        <mat-icon fxHide.xs class="link" routerLink="/home" style="width: 50px; height:30px" svgIcon="app-icon"></mat-icon>
        <h1 class="link" routerLink="/home" > {{ title | uppercase }}</h1>
        <div class="flex-stretch"></div>
        <a mat-button routerLink="/docs/intro" fxHide.xs>Docs</a>
        <mat-divider [vertical]=true fxHide.xs></mat-divider>
        <a mat-button routerLink="/pricing">Pricing</a>
        <mat-divider [vertical]=true></mat-divider>
        <a mat-button (click)="login($event)">Sign In</a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isLoggedIn()">
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 class="link"  routerLink="/home" >{{ title | uppercase }}</h1>
        <div class="flex-stretch"></div>
        <mat-icon class="mr-8">brightness_5</mat-icon>
        <mat-slide-toggle [(ngModel)]="isDarkMode" (click)="toggleDarkMode()" class="mr-8"></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
        <user></user>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav >
        <mat-toolbar-row >
            <h1>Catwalk</h1>
        </mat-toolbar-row>
        <mat-nav-list>
            <mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard'">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div>Dashboard</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="sidenav.toggle()" [routerLink]="'/home'">
                <mat-icon mat-list-icon>web</mat-icon>
                <div>Home</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="sidenav.toggle()" [routerLink]="'/docs/intro'">
                <mat-icon mat-list-icon>info</mat-icon>
                <div>Docs</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>list</mat-icon>
            <div (click)="sidenav.toggle()" [routerLink]="'/conduit'">Conduit</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>list</mat-icon>
            <div (click)="sidenav.toggle()" [routerLink]="'/apps'">Applications</div>
          </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <div (click)="sidenav.toggle()" [routerLink]="'/flows'">Flows</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

