<span class="key {{nodeClass}}" [id]="getPath()" (click)="toggleExpanded()">{{getLabel(key)}} :</span>
<span class="leaf-value" *ngIf="!isExpandable">{{value}}</span>
<span class="branch-preview" *ngIf="isExpandable && showPreview" [hidden]="isExpanded " (click)="toggleExpanded()">{{preview}}</span>
<ul class="branch-value" *ngIf="isExpandable && shouldRender" [hidden]="!isExpanded">
  <li *ngFor="let sub of value | keyvalue" >
   <json-node [parent]="this" [node-class]="nodeClass" [key]=sub.key [value]=sub.value [key-labels]="keyLabels" (jsonNodeEventEmitter)="handleEvent($event)"></json-node>
  </li>
</ul>
