.flex-stretch {
  flex: 1 0 auto;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
.two-line-title {
  display: -webkit-box; /* Use for multi-line truncation */
  -webkit-line-clamp: 2; /* Limit content to 2 lines */
  -webkit-box-orient: vertical; /* Specify vertical box orientation */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
  line-height: 1.2; /* Adjust line height as needed */
  max-height: calc(1.2em * 2); /* Ensure max height corresponds to 2 lines */
  word-wrap: break-word; /* Break long words to prevent overflow */
}
