<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <mat-icon fxHide.xs>display_settings</mat-icon>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-label fxHide.xs> MCP Servers</mat-label>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="flex-stretch"></div>
    <mat-divider [vertical]="true"></mat-divider>
    <button (click)="add()" mat-button mat-stroked-button>New</button>
    <button (click)="import()" mat-button mat-stroked-button>
      <mat-icon color="accent">import_export</mat-icon>
      Import
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let app of apps">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="two-line-title">{{app.name}} <h5>({{app.description}})</h5></mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editFlows(app)">FLOWS</button>
          <button mat-button (click)="openApi(app)">SWAGGER</button>
          <button mat-button (click)="showRequests(app)">LOG</button>
          <div class="flex-stretch"></div>
          <mat-icon   [matMenuTriggerFor]="action_menu" >more_vert</mat-icon>
          <mat-menu xPosition="before"  #action_menu="matMenu">
            <button  class="action-menu" (click)="editApp(app)" mat-menu-item>
              <mat-icon color="accent">edit</mat-icon>
              Edit
            </button>
            <button (click)="clone(app)"  mat-menu-item>
              <mat-icon color="accent">redo</mat-icon>
              Clone
            </button>
            <button (click)="delete(app)" mat-menu-item>
              <mat-icon color="accent">delete</mat-icon>
              Delete
            </button>
            <button (click)="export(app)" mat-menu-item>
              <mat-icon color="accent">import_export</mat-icon>
              Export
            </button>

          </mat-menu>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
