

<h2 mat-dialog-title>App</h2>
<mat-dialog-content style="height: calc(100% - 150px);" fxLayout="column" [formGroup]="form">
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field color="accent"  appearance="outline" cdkFocusInitial>
      <mat-label>Name</mat-label>
      <input matInput name="name" formControlName="name" placeholder="Name"/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-divider [vertical]="true"></mat-divider>
<mat-dialog-actions >
  <div class="flex-stretch"></div>
  <button mat-button class="mat-raised-button" (click)="cancel()">Close</button>
  <button mat-button class="mat-raised-button" (click)="save()" >Save</button>
</mat-dialog-actions>
