.flex-stretch {
  flex: 1 0 auto;
}
mat-cell p {
  text-overflow: ellipsis !important;
  overflow: hidden;
  white-space: nowrap;
  width:230px;
}
span {
  text-align: center;
  display: inline-block;
  width: 100%;
}
table {
  width: 100%;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0;
}
