
<h2 mat-dialog-title>Edit {{data.name}} Flow Activity</h2>
<mat-dialog-content style="height: calc(100% - 150px);" fxLayout="column" [formGroup]="form">
  <div fxLayout="row wrap"  fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="5px">
    <mat-form-field color="warn"  fxFlex="0 1 calc(100%)" appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput name="description" formControlName="description" placeholder="description"/>
    </mat-form-field>
  </div>
  <json-editor [schema]="schema" [data]="data.input"></json-editor>
</mat-dialog-content>
<mat-divider [vertical]="true"></mat-divider>
<mat-dialog-actions >
  <div class="flex-stretch"></div>
  <button mat-button mat-stroked-button class="mat-raised-button" (click)="cancel()">Close</button>
  <button mat-button mat-stroked-button class="mat-raised-button" (click)="save()" >Save</button>
</mat-dialog-actions>


<!-- <div fxLayout="row" class="dark-mode" >
    <div fxLayout="column" >
    <pre><code>{{form.getRawValue() | json}}</code></pre>
  </div>
  <div fxLayout="column">
    <pre><code>{{this.jsonEditor?.form?.getRawValue() | json }}</code></pre>
  </div>
</div> -->
