<mat-toolbar color="primary-dark">
  <h1>Account Profile</h1>
  <div class="flex-stretch"></div>
  <mat-divider [vertical]="true"></mat-divider>
  <button (click)="save()" mat-button mat-stroked-button>Save</button>
</mat-toolbar>
<form [formGroup]="tenantForm">
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <mat-icon matPrefix>store</mat-icon>
          <input formControlName="displayName" matInput>
        </mat-form-field>
        <div  formGroupName="customer" >
            <mat-form-field appearance="outline">
                <mat-label>Contact Name</mat-label>
                <mat-icon matPrefix>person</mat-icon>
                <input formControlName="name" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contact Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input  formControlName="email" matInput readonly>
            </mat-form-field>
        </div>
</form>

