form{
  margin: 25px 30px 10px 5px;
}
.messages {
  padding-bottom: 20px;
}
.messages .success {
  color: green;
}

mat-form-field{
  width:95vw
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}

.flex-stretch {
  flex: 1 0 auto;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.bottom-margin{
  margin-bottom: 80px;
}

.link{
  cursor: pointer;
}
.json-editor{
  margin-top: 25px;

}
