<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-label>{{configType.split(".").pop()}}</mat-label>
    <div class="flex-stretch"></div>
    <mat-divider [vertical]="true"></mat-divider>
    <button (click)="back()" mat-button mat-stroked-button>Back</button>
    <mat-divider [vertical]="true"></mat-divider>
    <button (click)="save()" mat-button mat-stroked-button>Save</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="json-editor">

  <form [formGroup]="form">
    <div class="messages" >
      <mat-icon *ngIf="configTest.hint" matTooltip="{{configTest.hint}}" style="cursor: pointer; color: #1976d2;" >info</mat-icon>
      <mat-error *ngIf="configTest.error">ERROR: {{configTest.message}}</mat-error>
      <mat-error *ngIf="configTest.warning">WARNING: {{configTest.message}}</mat-error>
      <mat-label *ngIf="configTest.success">SUCCESS: {{configTest.message}}</mat-label>
    </div>

    <div fxLayout="row wrap"  fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="5px">
      <mat-form-field color="warn"  fxFlex="0 1 calc(100%)" appearance="outline">
        <mat-label>Config Name</mat-label>
        <input matInput name="name" formControlName="name" placeholder="Config Name"/>
        <button (click)="testConfig()" style="height: 54px" mat-stroked-button mat-button matSuffix>Test</button>
      </mat-form-field>
    </div>
    <json-editor  [schema]="schema" [data]="flowConfig?.config"></json-editor>
  </form>
</div>

<!--<pre><code>{{jsonEditor?.form?.getRawValue() | json}}</code></pre>-->

