.nav {
  position: sticky;
  top:0;
  z-index: 200;
}
.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}
.mapper-container{
  color: #F0F0F0;
  z-index: 150;
}
.dlg-content{
  margin-left: 5px;
  width:100%;

}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}

.flex-stretch {
  flex: 1 0 auto;
}

.mat-dialog-container {

}

.custom-dialog-container .mat-dialog-container {
  padding: 0px !important;
}

.left{
   width:50%;
  overflow: hidden;
}
