<div >
  <div class="pricing-option">
    <i class="material-icons">important_devices</i>
    <h1>{{pricingData.name}}</h1>
    <span>
      <div class="price">$ {{pricingData.monthly}}
        <b> /month</b>
        </div>
    </span>
    <p>{{pricingData.description}}</p>
    <mat-divider [vertical]="true"></mat-divider>
    <ul class="features">
      <li *ngFor="let feature of pricingData.features">{{feature}}</li>
    </ul>
    <button mat-stroked-button mat-button (click)="subscribe()">Subscribe</button>
  </div>
           <!-- <app-bt-payment (submit)="pay($event)" [plan]="pricingData"></app-bt-payment>-->
</div>

