<mat-toolbar color="primary" >
  <mat-toolbar-row class="dashboard-toolbar-row">
    <mat-icon>dashboard</mat-icon>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-label> Ai Chat</mat-label>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="flex-stretch"></div>
    <div class="toolbar-controls">
      <mat-form-field appearance="outline" class="toolbar-field apps">
        <mat-label>Applications</mat-label>
        <mat-select multiple [value]="selectedApplications" (selectionChange)="onApplicationsChange($event.value)">
          <mat-option *ngFor="let app of applications" [value]="app">
            {{ app.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="toolbar-field kbs">
      <mat-label>Knowledge Bases</mat-label>
        <mat-select multiple [value]="selectedKnowledgeBases" (selectionChange)="onKnowledgeBasesChange($event.value)">
          <mat-option *ngFor="let kb of knowledgeBases" [value]="kb">
            {{ kb.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">

<app-ai-chat></app-ai-chat>
</div>



