

.Success{
  color: rgba(0, 128, 0, 0.75);
}
.Fail{
  color: rgba(255, 21, 0, 0.75);
}
.UP{
  color: rgba(0, 128, 0, 0.75);
}
.DOWN{
  color: rgba(255, 200, 0, 0.75);
}
.NOTFOUND{
  color: rgba(255, 21, 0, 0.75);
}
.flex-stretch {
  flex: 1 0 auto;
}
.unknown{
  color: rgba(160, 159, 159, 0.75);
}

.widgetTable {
  width: 70%;
  td {
    padding: 10px;
    border-bottom: 1px solid darkgray;
  }
}
div {
  position: relative;
  width: auto;
}
.mat-column-name {
  flex: 0 0 23%;
}
.inline-block {
  display: inline-block;
}
.padding-top-20 {
  padding-top: 20px
}
.padding-left-20 {
  padding-left: 20px
}

.margin-right-40 {
  margin-right: 40px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
// not sure how to handle this, darkMode is set for body.
.darkMode .widgetTable td {
  border-bottom-color:  rgba(255, 255, 255, 0.7);
}
.div-height{
  height: 25px;
  width: 150px;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
}
.container {
  display: flex;
  justify-content: space-between; /* Ensures equal spacing */
  gap: 20px; /* Adds space between components */
  padding: 20px;
  background-color: transparent;
}

app-ai-chat, app-another-component {
  flex: 1; /* Makes both components take equal space */
  border: 1px solid rgba(204, 204, 204, 0.73);
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  height: 500px; /* Set a consistent height */
  overflow: hidden;
}
