.flex-stretch {
  flex: 1 0 auto;
}
.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}
.toolbar-field{
  max-width: 100px;
}
.ai-field{
   width: 50%;
}
