
mat-form-field{
  width:95vw
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-row:nth-child(even){
  background-color: rgba(127, 143, 148, 0.12);
}

.paginator{
  background-color: transparent;
  color: white;
  min-height: 50px !important;
  height: 50px !important;
  padding-left: 15px;
}

mat-table{
  padding-bottom: 75px;
}

.flex-stretch {
  flex: 1 0 auto;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0;
}
