
mat-form-field{
  width:95vw
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-row:nth-child(even){
  background-color: rgba(127, 143, 148, 0.12);
}

.paginator{
  background-color: transparent;
  color: white;
  min-height: 50px !important;
  height: 50px !important;
  padding-left: 15px;
}

mat-table{
  padding-bottom: 75px;
}

.flex-stretch {
  flex: 1 0 auto;
}
.spacer { flex: 1 1 auto; }


.mat-column-action {
  flex: 0 0 15%;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0;
}
.small-screen-table {
  mat-row {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.large-screen-layout {
  mat-sidenav-container {
    height: 100vh;
  }

  mat-sidenav {
    width: 300px;
  }

  mat-sidenav-content {
    padding: 8px;
  }
}
.mat-list-item {
  align-items: stretch; /* vertically center if needed */
}
.row {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 100%;
  min-width: 0; /* allow flex children to shrink */
}

.col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
