
<div  [formGroup]="form" >

  <div *ngIf="schema?.type ==='object'" style="padding: 5px" >
     <!-- <h2>{{schema?.title}}</h2> -->
      <div *ngIf="schema && schema.properties" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutGap.lt-sm="5px">
        <div *ngFor="let prop of schema?.properties | keyvalue; let i = index;" >
          <schema-form [form]="getFormGroup(name)" [schema]="prop.value" [name]="prop.key"></schema-form>
        </div>
      </div>
  </div>

  <div *ngIf="schema?.type === 'string' && !schema?.enum && schema?.format === 'password'">
    <mat-form-field fxFlex="auto" appearance="outline">
      <mat-label>{{ schema?.title }}</mat-label>
      <input matInput [type]="isPasswordVisible ? 'text' : 'password'" name="{{name}}" formControlName="{{name}}" [value]="getValue(schema)" placeholder="{{schema?.title}}"/>
      <button mat-icon-button matSuffix matTooltip="{{schema?.description}}" (click)="togglePasswordVisibility()" tabindex="-1" type="button">
        <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.type ==='string' && !schema?.enum && !schema?.format">
    <mat-form-field color="accent"  fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <input matInput name="{{name}}" formControlName="{{name}}" [value]="getValue(schema)" placeholder="{{schema?.title}}"/>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.type ==='string' && schema?.enum && !schema?.format">
    <mat-form-field color="accent" fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <mat-select formControlName="{{name}}">
        <mat-option *ngFor="let val of schema?.enum" [value]="val">{{val}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.format && schema?.format === 'configChooser'">
    <mat-form-field color="accent" fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <mat-select formControlName="{{name}}">
        <mat-option *ngFor="let val of getConfigs()" [value]="val.name" >{{val.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.type ==='boolean' && !schema?.enum && !schema?.format" >
    <mat-form-field color="accent"  fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <mat-slide-toggle matTextSuffix formControlName="{{name}}" color="primary" [checked]="getValue(schema)" (change)="onToggle(schema)">
        {{schema?.title}}
      </mat-slide-toggle>
      <input matInput disabled/>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.type ==='number' && !schema?.enum && !schema?.format" >
    <mat-form-field color="accent"  fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <input matInput type="number" formControlName="{{name}}" placeholder="{{ schema?.title }}"/>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.format && schema?.format === 'roleChooser'">
    <mat-form-field color="accent" fxFlex="auto" appearance="outline">
      <mat-label>{{schema?.title}}</mat-label>
      <mat-select formControlName="{{name}}">
        <mat-option *ngFor="let role of roles" value="{{role}}" >{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="schema?.format && schema?.format === 'javascript'">
    <div  fxFlex="grow" >
      <mat-toolbar color="accent" >
        <mat-toolbar-row>
          <label>{{schema?.title}}</label>
          <div class="flex-stretch"></div>
          <button mat-button (click)="formatJson(editor)"  class="mat-button">Format</button>
          <button mat-button (click)="unFormatJson(editor)"  class="mat-button">UnFormat</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <ace-editor #editor theme="tomorrow"
                  formControlName="{{name}}"
                  mode="javascript"
                  style="min-height: 450px; width:100%; font-size:16px;overflow: auto;"
                  value="{{getValue(schema)}}">
      </ace-editor>
    </div>
  </div>

  <div *ngIf="schema?.format && schema?.format === 'json'">
    <div  fxFlex="grow" >
      <mat-toolbar color="accent" >
        <mat-toolbar-row>
          <label>{{schema?.title}}</label>
          <div class="flex-stretch"></div>
          <button mat-button (click)="formatJson(editor)"  class="mat-button">Format</button>
          <button mat-button (click)="unFormatJson(editor)"  class="mat-button">UnFormat</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <ace-editor #editor theme="tomorrow"
                  formControlName="{{name}}"
                  mode="json"
                  style="min-height: 450px; width:100%; font-size:16px;overflow: auto;"
                  value="{{getValue(schema)}}">
      </ace-editor>
    </div>
  </div>

</div>
