#home {
    .content {
        width: 100%;
        overflow: hidden;
        background-size: cover;
    }
}
.carousel-content{
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  color: whitesmoke;

}

.catwalk-flow {
  width: 100%;
}


.l1 {
    margin-top: 0;
     padding-bottom: 2vw;
    font-size: 3vw;
}
.l2 {
  padding-bottom: 0;
  margin-top: 0;
  font-size: 2vw;
  line-height: 3vw;
}

.black-fg .faq .title{
  color: black;
}
.black-fg .faq .question{
  color: black;
}
.demo {
    &-code {
        font-family: "Roboto Mono";
    }

    &-container {
        padding: 15px;
    }

    &-source {
        margin-left: 15px;
    }

    &-spacer {
        flex: 1 1 auto;
    }

    &-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 50px;
    }

    &-margin {
        margin: 0 10px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    &-carousel {
        margin-top: 12px;
        margin-bottom: 12px;
    }

}

.faq {
    flex: 1 0 auto;
    margin: 32px 32px;
  .title {
        line-height: 32px;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 64px;
        padding: 0 16px;

    }

    .item {
        padding: 24px;

        .question {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .answer {
            font-size: 16px;
            line-height: 1.5;
            color: rgb(123, 122, 125);
        }
    }

}
.disclaim{
    font-size: 10px;
    line-height: 1.5;
    color: rgb(123, 122, 125);
}
.white-bg{
    background-color: whitesmoke;
    color: #847c7c;
}
