<div class="chat-container" [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">

  <div class="chat-messages" #chatContainer>
    <div *ngFor="let message of messages" [ngClass]="{'message-user': message.role === 'user', 'message-ai': message.role === 'ai'}">
      <span class="chat-bubble">{{ message.content }}</span>
    </div>
  </div>
  <div class="overlay" *ngIf="isLoading">
    <mat-spinner ></mat-spinner>
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="userInput"
      (keyup.enter)="sendMessage()"
      placeholder="Type a message..."
      [disabled]="isLoading"
    />
    <button (click)="sendMessage()" [disabled]="isLoading">Send</button>
    <button (mousedown)="start()" (mouseup)="stop()">🎙️ Speak</button>
    <select [(ngModel)]="voice" (change)="changeVoice($event)" >
      <option *ngFor="let voice of voices" [value]="voice.name">{{ voice.name }}</option>
    </select>
    <button (click)="simulateConversation()" >Simulate Conversation</button>
  </div>
</div>
